# --- Logs & Debug ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Dependencies (Nặng nhất, tuyệt đối không commit) ---
node_modules
.pnpm-store

# --- Build Output (Kết quả sau khi build) ---
dist
dist-ssr
coverage/

# --- Environment Variables (BẢO MẬT TUYỆT ĐỐI) ---
# Chặn tất cả file môi trường cục bộ chứa key/pass
*.local
.env.local
.env.*.local
.env

# --- OS Files (Rác hệ điều hành - Đặc biệt là Windows) ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- IDEs & Editors ---
# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# IntelliJ IDEA 
.idea
*.iws
*.iml
*.ipr

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- VITE SPECIFIC  ---
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# --- Customize Files ---
fe_pack_code.bat